<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="solutions.isky.gaurangarevolution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".aplication.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:icon">
        <activity
            android:name=".presentation.ui.my_profile.RefillActivity"
            android:label="@string/title_activity_refill"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".messagesfirebase.ManagerNotification$CloseButtonReceiver">
            <intent-filter>
                <action android:name="close_notification" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Splashtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".presentation.ui.login.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".presentation.ui.info_ad.InfoAdActivity"
            android:label="@string/title_activity_info_ad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".presentation.ui.info_ad.AdMapPosition"
            android:label="@string/title_activity_ad_map_position"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.info_ad.PictureActivity"
            android:label="@string/title_activity_picture"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".presentation.ui.login.FacebookLoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name=".presentation.ui.login.VKLoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.login.OKLoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ru.ok.android.sdk.OkAuthActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ok1265936384"
                    android:scheme="okauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.adsuser.AllAdsUserActivity"
            android:label="@string/title_activity_all_ads_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.filters.FiltersActivity"
            android:label="@string/title_activity_filters"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.locations.LocationsActivity"
            android:label="@string/title_activity_locations"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".presentation.ui.login.SocialConfirmActivity"
            android:label="@string/title_activity_social_confirm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.filters.ListActivityAllFilter"
            android:label="@string/title_activity_list_all_filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_profile.MyProfile"
            android:label="@string/my_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_profile.MyPaymentsActivity"
            android:label="@string/my_payments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_profile.ActivityEditProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/MyThemeCrop" />
        <activity
            android:name=".presentation.ui.my_profile.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_profile.ChangeEmailActivity"
            android:label="@string/title_activity_change_email"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_profile.MyAdActivity"
            android:label="@string/title_activity_my_ad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.addad.AddAdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_ad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.addad.SelectOnMap"
            android:label="@string/title_activity_select_on_map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.correspondence.DialogsActivity"
            android:label="@string/message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".presentation.ui.advertising.AdvertisingActivity"
            android:label="@string/title_activity_advertising"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.advertising.AdvertisingShopActivity"
            android:label="@string/title_shop_advertising"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.correspondence.MessageActivity"
            android:label="@string/message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".messagesfirebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--<service android:name=".messagesfirebase.MyFirebaseInstanceIDService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <activity
            android:name=".presentation.ui.favorite.MyFavActivity"
            android:label="@string/favorite"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.filters.ListShopsAllFilter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.filters.FiltersShopsActivity"
            android:label="@string/title_activity_filters"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_shop.NoShopActivity"
            android:label="@string/my_shop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_shop.MyShop"
            android:label="@string/my_shop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8f67982c0fb1bc5797ed3041b50f7ed6e115fc9c" />

        <activity
            android:name=".presentation.ui.my_profile.VerificationPhoneActivity"
            android:label="@string/title_activity_verification_phone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.my_profile.ConfirmPhoneActivity"
            android:label="@string/title_activity_verification_phone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.category.CategoryShopActivity"
            android:label="@string/title_activity_category_shop"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".presentation.ui.advertising.AbonementShopActivity"
            android:label="@string/title_activity_abonement_shop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- LiqPayActivity -->
        <activity android:name="ua.privatbank.paylibliqpay.CheckoutActivity" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    </application>

</manifest>